@import "bootstrap/scss/bootstrap";

#App {
  background-color: darkslategray;
  color: white;
  min-height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.dark-mode {
  background-color: rgb(60, 60, 60);
  color: white;
}

.light-mode {
  background-color: gainsboro;
  color: black;
  border: 1px solid black;
}

.center-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.footer-container {
  min-height: 30vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vh;
  background-color: rgb(60, 60, 60);
  color: white;
}

.footer-container {
  font-size: 14px;
  .fa-brands {
    font-size: 24px;
    margin-right: 8px;
    margin-bottom: 8px;
  }
}

.home-buttons {
  margin-top: 50px;
  width: 100%;
}

.custom-button-homepage-darkmode {
  padding: 1rem 2rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: darkslategray;
  font-size: large;
  color: rgb(94, 173, 158);
  border-color: rgb(94, 173, 158);
  margin: 1rem;

  &:hover {
    background-color: rgb(2, 40, 33);
  }
}

.custom-button-homepage-lightmode {
  padding: 1rem 2rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: gainsboro;
  font-size: large;
  color: darkslategrey;
  border-color: darkslategrey;
  margin: 1rem;

  &:hover {
    background-color: rgb(94, 173, 158);
  }
}

.custom-button {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: lightgrey;
  color: black;
  border: 1px solid #ddd;
  margin: 1rem;

  &:hover {
    background-color: steelblue;
    border: 1px solid #ddd;
  }
}

.pagination-button {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: white;
  color: black;
  border-color: #ddd;
  margin: 1rem;

  &:disabled {
    background-color: grey;
    border-color: #ddd;
  }

  &:hover {
    background-color: lightgrey;
    border-color: steelblue;
  }
}

.custom-link {
  color: dimgrey;
  cursor: pointer;

  &:hover {
    color: steelblue;
  }
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.custom-card {
  background-color: whitesmoke;
  color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 300px;
}

.custom-card img {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.container-cards-details {
  display: flex;
  justify-content: center;
}

.custom-card-details {
  background-color: whitesmoke;
  color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 800px;
}

.custom-card-details img {
  width: 40%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

// Bigger screens

@media (min-width: 600px) {
  .custom-card {
    max-width: 45%;
  }
}

@media (min-width: 800px) {
  .center-container {
    align-items: center;
  }

  .custom-card {
    max-width: 30%;
  }
}

@media (min-width: 1200px) {
  .custom-card {
    max-width: 22%;
  }
}
